<!doctype html>
<html>
    <head>
        <title>Last Chances '15</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Last Chances</h1>
            <h4>Dartmouth, we have caught the overheards, the yaks, the restless
            atmosphere... While this may not be the version from last year, let's give this a shot!</h4>

            <button class="btn btn-primary">Login</button>
        </div>
    </body>
</html>