<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dartmouth Last Chances, 15S</title>
    </head>
    <body>
        <div class="mainoutline">
            <h1>Dartmouth '11 Last Chances</h1>

            <span class="loud">
                <p>Find hookups, etc.</p>
                <p>Logged in as {{ id }}.
                    (<a href="{{logout_url}}">Log out</a>)</p>
            </span>
            <h1>{{ match }}</h1>
        </div>
        <div class="footer">
            <p>Home | <a href="/pages/about.html">About</a></p>
            <p>660 people, 3743 entries and counting. What are your chances?</p>
        </div>
    </body>
</html>
