<!doctype html>
<html>
    <head>
        <title>Last Chances '15</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Last Chances - Matches</h1>
            <h4><a href="/entry">Enter more names</a></h4>
            <p>Logged in as {{ user }}. <a href="/logout">Logout</a>.</p>

            <p>{{ count }} people are crushing on you.</p>
            {% for match in matches %}
                <p>You matched with {{ match }}!</p>
            {% endfor %}
        </div>
    </body>
</html>